<div class="modal-dialog ">
    <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" (click)="close()" >&times;</button>
         <!-- <h4 class="modal-title">{{title || 'Login'}}</h4> -->
         <h4 class="modal-title text-xs-center">Log in like a Boss</h4>
         <alert></alert>
       </div>
       <div class="modal-body">
        <form class="container-fluid" role="form" method="POST" action="">
            <input type="hidden" name="_token" value="">
            <div class="form-group">
                <label class="control-label">E-Mail Address</label>
                <div>
                    <input type="email" class="form-control input-lg" name="username"[(ngModel)]="model.username" #username="ngModel" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <div>
                    <input type="password" class="form-control input-lg" name="password" [(ngModel)]="model.password" #password="ngModel" required >
                </div>
            </div>
            <div class="form-group">
                <div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember"> Remember Me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <a class="btn btn-link" href="">Forgot Your Password?</a>
                    <button type="submit" class="btn btn-info btn-block"  (click)="login()">
                            <span> {{ loading === true ? 'Logging in please wait...' : 'Login'}}</span>
                    </button>
                </div>
            </div>
        </form>
       </div>
       <div class="modal-footer  text-xs-center">
            Don't have an account? <a href="/auth/register">Sign up »</a>
         <!-- <button type="button" class="btn btn-primary" (click)="login()">OK</button>
         <button type="button" class="btn btn-default" (click)="close()" >Cancel</button> -->
       </div>
     </div>
  </div>