
	<div id="content-slider" class="clr">
				<div class="wrap-slider clr">	
								
		<!-- 	========================Thumbnail ControlNav======================================    -->			
					<input type="radio" id="a-1" name="a" >			
					<input type="radio" id="a-2" name="a" >			
					<input type="radio" id="a-3" name="a" >
					<input type="radio" id="a-4" name="a" >
					
					<nav id="main">
				  <label for="a-1" class="first"></label>
				  <label for="a-2" class="first"></label>
				  <label for="a-3" class="first"></label>
				  <label for="a-4" class="first"></label>
				  <!-- <label for="a-5" class="first"></label> -->
					</nav>
		<!-- 	==============================================================    -->
					<nav id="control">
				  <label for="a-1" ></label>
				  <label for="a-2" ></label>
				  <label for="a-3" ></label>
				  <label for="a-4" ></label>
				  <!-- <label for="a-5" class="first"></label> -->
					</nav>
		<!-- 	==============================================================    -->
		
						<!-- 	IMAGE NAVIGATION pic -->
					<span id="b-1" class="th" tabindex="10">
						<img src="https://github.com/lime7/slider/blob/master/images/pic-1.png?raw=true" alt="" id="p-1">
						<div class="title-1">
					<h1>PAK FA T-50</h1>
					<p>Stealth multirole fighter</p>
					<a href="">read more...</a>
						</div>
					</span>
		
					<span id="b-2" class="th" tabindex="11">
						<img src="https://github.com/lime7/slider/blob/master/images/pic-10.png?raw=true" alt="" id="p-2">
						<div class="title-2">
							<h1>Kamov Ka-50 "Black Shark"</h1>
							<p>Attack helicopter</p>
							<a href="">read more...</a>
						</div>
					</span>			
		
					<span id="b-3" class="th" tabindex="12">
						<img src="https://github.com/lime7/slider/blob/master/images/pic-3.png?raw=true" alt="" id="p-3">
						<div class="title-3">
							<h1>Sukhoi Su-27</h1> 
							<p>Air superiority fighter</p> 
							<a href="">read more...</a>
						</div>
					</span>
		
					<span id="b-4" class="th" tabindex="13">
						<img src="https://github.com/lime7/slider/blob/master/images/pic-4.png?raw=true" alt="" id="p-4">
						<div class="title-4">
							<h1>mil mi-28</h1>
							<p>Attack helicopter</p>
							<a href="">read more...</a>
						</div>
					</span>
					
					<!-- ______________IMAGES_________________________________________ -->						
		
					<div class="slider">
						<div class="inset">
		
							<figure>
								<figcaption class="title-1">
									<h1>PAK FA T-50</h1>
									<p>Stealth multirole fighter</p>
									<a href="">read more...</a>
								</figcaption>
								<img src="https://github.com/lime7/slider/blob/master/images/1.png?raw=true" alt="" id="i-1" class="f">						
							</figure>
		
							<figure>
								<figcaption class="title-2">
									<h1>Kamov Ka-50 "Black Shark"</h1>
									<p>Attack helicopter</p>
									<a href="">read more...</a>
								</figcaption>
								<img src="https://github.com/lime7/slider/blob/master/images/10.png?raw=true" alt="" id="i-2" class="f">						
							</figure>
		
							<figure>
								<figcaption class="title-3">
									<h1>Sukhoi Su-27</h1> 
									<p>Air superiority fighter</p> 
									<a href="">read more...</a>
								</figcaption>
								<img src="https://github.com/lime7/slider/blob/master/images/3.png?raw=true" alt="" id="i-3" class="f">						
							</figure>
		
							<figure>
								<figcaption class="title-4">
									<h1>mil mi-28</h1>
									<p>Attack helicopter</p>
									<a href="">FIND OUT MORE</a>
								</figcaption>
								<img src="https://github.com/lime7/slider/blob/master/images/4.png?raw=true" alt="" id="i-4" class="f">						
							</figure>
		
		
							<figure>
								<figcaption class="title-5">
									<h1>PAK FA T-50</h1>
									<p>Stealth multirole fighter</p>
									<a href="">read more...</a>
								</figcaption>
								<img src="https://github.com/lime7/slider/blob/master/images/1.png?raw=true" alt="" id="i-5" class="f">						
							</figure>				
						</div>
					</div>					
		
				</div>		
			</div>
				