<div class="banner-dott" style="margin-bottom:2%">
  <div class="heading">
    <h3>Our Services </h3>
    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
  </div>
  <div class="container">
    <div class="services-top-grids">


      <div class="col-md-2 col-sm-3" *ngFor="let category of categories1">
        <div class="grid1" >
          <img src="../../assets/images/pest-control.png" />
          <h6><a routerLink='../vendors-list' >{{category}}</a></h6>

        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="services-bottom-grids">
      <div class="col-md-2 col-sm-3" *ngFor="let category of categories1">
        <div class="grid1">
          <img src="../../assets/images/pest-control.png" />
          <h6><a routerLink='../vendors-list' >{{category}}</a></h6>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
