<div class="about banner-default" id="howitworks">

    <div class="container">
        <div class="about-top">
            <div class="heading">
                <h3 style="padding-top:20px">How It works</h3>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="about-bottom-grid2">
            <div class="col-md-4">
                <div class="rcorners">
                    <h2>1st
                        <p>Book
                            <br>Let us know your Requirment.</p>
                    </h2>
                </div>

            </div>

            <div class="col-md-4">
                <div class="rcorners">
                    <h2>2nd
                        <p>Schedule
                            <br>Our Certified Technician will Call you within 15 min &amp; will visit your place according to your convenience.</p>
                    </h2>
                </div>

            </div>
            <div class="col-md-4">
                <div class="rcorners">
                        <h2>3rd<p>Relax<br>After inspection our technician will give you the quotation. if you are satisfied with quotation take service else you can send him back he will not take any visiting charges.</p></h2>                </div>

            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>